<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="908698">  <td>19/09/25 22:49:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testCasesForDemoOpenCart.beforeTestMethod()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:49:53</td>   <td>24381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_ConfirmPass()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_ConfirmPass</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:49:59</td>   <td>30529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_Email()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_Email</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:05</td>   <td>36876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_Fields()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_Fields</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:11</td>   <td>42724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_FirstName()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_FirstName</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:17</td>   <td>48797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_LastName()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_LastName</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:23</td>   <td>54824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_Passeord()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_Passeord</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:29</td>   <td>60775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_Phone()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_Phone</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:35</td>   <td>66782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_Registration_With_Empty_PrivacyPolicy()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_Registration_With_Empty_PrivacyPolicy</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:41</td>   <td>72675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Negative_registration_for_unmatch_password_and_confirmPassword()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Negative_registration_for_unmatch_password_and_confirmPassword</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:47</td>   <td>78876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testCasesForDemoOpenCart.Verify_Positive_registration_for_valid_input()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">Verify_Positive_registration_for_valid_input</td> 
  <td>main@1659309731</td>   <td></td> </tr>
<tr bgcolor="908698">  <td>19/09/25 22:50:54</td>   <td>85988</td> <td>&nbsp;</td><td title="&lt;&lt;testCasesForDemoOpenCart.afterTest()[pri:0, instance:MavenProject_PageFactory.MavenProject_PageFactory.testCasesForDemoOpenCart@2c104774]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1659309731</td>   <td></td> </tr>
</table>
